-@ val errors: List[org.scalatra.command.ValidationError] = Nil
-@ val login: String = params.get("login").getOrElse("")
-@ val email: String = params.get("email").getOrElse("")
-@ val name: String = params.get("name").getOrElse("")

div{ :class => {if (errors.exists(_.field == "login")) "error control-group" else "control-group"} }
  label.control-label(for="login") Login:
  div.controls
    input#login.input-xlarge(type="text" name="login" placeholder="Login" value= login)
div{ :class => {if (errors.exists(_.field == "email")) "error control-group" else "control-group"} }
  label.control-label(for="email") Email address:
  div.controls
    input#email.input-xlarge(type="text" name="email" placeholder="Email address" value= email)
div{ :class => {if (errors.exists(_.field == "name")) "error control-group" else "control-group"} }
  label.control-label(for="name") Name:
  div.controls
    input#name.input-xlarge(type="text" name="name" placeholder="Name" value= name)
