-@ val errors: List[org.scalatra.oauth2.model.ValidationError] = Nil
- if (errors.nonEmpty)
  div.alert.alert-error.alert-block
    a.close(data-dismiss="alert") ×
    h4.alert-heading Please correct:
    ul#errors
      - errors foreach 
        - error =>
          li.error= error.message
