-@ val errors: List[org.scalatra.oauth2.model.ValidationError] = Nil
-@ val client: Client 
- render("../shared/validation_errors.jade", Map("errors" -> errors))

form.form-horizontal(method="post")
  fieldset
    legend Update client: #{client.displayName}
    div.control-group
      label.control-label Client Id: 
      div.controls
        input#client_id.input-xlarge.uneditable-input(type="text" value="#{client.id.toString}")
    div.control-group
      label.control-label Client secret: 
      div.controls
        label 
          input#client_secret.input-xlarge.uneditable-input(type="text" value="#{client.secret}")

    - render("client_fields.jade", Map("errors" -> errors, "profile" -> client.profile, "displayName" -> client.displayName, "authType" -> client.authorizationType.toString, "scope" -> client.scope, "redirectUri" -> ~client.redirectUri, "link" -> ~client.link))