<h2>{{pageTitle}}</h2>
<div validation-summary ng-hide="emailSent"></div>
<form class="form-horizontal" name="forgotPasswordForm" ng-hide="emailSent" novalidate validation-errors>
  <fieldset>
    <legend>Forgot password</legend>
    <div class="control-group">
      <label class="control-label" for="login">Login:</label>
      <div class="controls">
        <input id=login type="text" class="input-xlarge" name="login" placeholder="login or email" ng-model="login" required />
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary" ng-click="forgot(login)" ng-disabled="forgotPasswordForm.$invalid">
        <i class="icon-envelope"></i>
        <span>Send password reset link</span>
      </button>
    </div>
  </fieldset>
</form>
<div ng-show="emailSent">
  Password reset link has been sent to your primary email address.
</div>