<h2>{{pageTitle}}</h2>

<div validation-summary></div>
<form class="form-horizontal" name="resetPasswordForm" novalidate validation-errors>
  <fieldset>
    <legend>Reset your password</legend>
    <div class="control-group">
      <label class="control-label" for="password">Password:</label>
      <div class="controls">
        <input id="password" class="input-xlarge" ng-model="password" type="password" name="password" placeholder="Password" required />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirmation">Password confirmation:</label>
      <div class="controls">
        <input id="password_confirmation" class="input-xlarge" ng-model="confirmation" type="password" name="password_confirmation" required placeholder="Password confirmation" />
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary" ng-click="resetPassword(password, confirmation)" ng-disabled="hasErrors()">Reset</button>
    </div>
  </fieldset>
</form>
