-@ val title: String
-@ val body: String

!!! 5
html(ng-app="app")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/assets/main.css')
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

  body(ng-controller="AppController")
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/")= title
          div.nav-collapse
            ul.nav
              li
                a(ng-href="/") Home
              li.dropdown#clients-menu(ng-show="currentUser")
                a.dropdown-toggle(href="#clients-menu" data-toggle="dropdown")
                  | Clients
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/clients") List
                    a(href="/clients/new") Create
              li
                a(ng-href="/permissions" ng-show="currentUser") Permissions
          div.nav-collapse.pull-right
            ul.nav
              li(ng-hide="currentUser")
                a(href="/login") Login
              li.divider-vertical(ng-hide="currentUser")
              li(ng-hide="currentUser")
                a(href="/register") Sign up
              li(ng-show="currentUser")
                p.navbar-text Logged in as {{currentUser.name}}
              li.divider-vertical(ng-show="currentUser")
              li(ng-show="currentUser")
                a(href="/logout") Logout
              li.divider-vertical



    div.container
      != "<div notification-list></div>"
      - if (flash.get("success").isDefined)
        div.alert.alert-success
          a.close(data-dismiss="alert") ×
          != flash("success")
      - if (flash.get("info").isDefined)
        div.alert.alert-info
          a.close(data-dismiss="alert") ×
          != flash("info")
      - if (flash.get("warn").isDefined)
        div.alert.alert-success
          a.close(data-dismiss="alert") ×
          != flash("warn")
      - if (flash.get("error").isDefined)
        div.alert.alert-error
          a.close(data-dismiss="alert") ×
          != flash("error")
      != body


    script(src="/assets/main.js")


    - import net.liftweb.json._
    - implicit val jsonFormats: Formats = new OAuth2Formats
    - val userJson = if (isAuthenticated) Serialization.write(user.account) else JNothing

    - if (isAuthenticated) {
      :!coffeescript
        angular.module("app").run ($rootScope) ->
          $rootScope.currentUser = #{userJson};
    - } else {
      :!coffeescript
        angular.module("app").run ($rootScope) ->
          $rootScope.currentUser = null

    - }


