-@ val title: String
-@ val body: String
-@ val userOption: Option[io.backchat.oauth2.model.Account] = None
-@ val user: io.backchat.oauth2.model.Account = null

!!! 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/wro/core.css')
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/")= title
          div.nav-collapse
            ul.nav
              li
                a(href="/") Home
              - if (isAuthenticated) 
                li.dropdown#clients-menu
                  a.dropdown-toggle(href="#clients-menu" data-toggle="dropdown")
                    | Clients
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="/clients") List
                      a(href="/clients/new") Create
          div.nav-collapse.pull-right  
            ul.nav
              - if (isAnonymous)
                li
                  a(href="/login") Login
                li
                  a(href="/register") Sign up
              - else
                li
                  p.navbar-text Logged in as #{user.name}
                li.divider-vertical
                li
                  a(href="/logout") Logout
                li.divider-vertical



    div.container
      - if (flash.get("success").isDefined)
        div.alert.alert-success
          a.close(data-dismiss="alert") ×
          != flash("success")
      - if (flash.get("info").isDefined)
        div.alert.alert-info
          a.close(data-dismiss="alert") ×
          != flash("info")
      - if (flash.get("warn").isDefined)
        div.alert.alert-success
          a.close(data-dismiss="alert") ×
          != flash("warn")
      - if (flash.get("error").isDefined)
        div.alert.alert-error
          a.close(data-dismiss="alert") ×
          != flash("error")
      != body


    script(src="/wro/core.js")

