
form.form-horizontal(method="post" action="/forgot")
  fieldset
    legend Forgot password
    div{ :class => "control-group" }
      label.control-label(for="login") Login:
      div.controls
        input#login.input-xlarge(type="text" name="login" placeholder="login or email")
    div.form-actions
      button.btn.btn-primary(type="submit") 
        i.icon-envelope 
        span Send password reset link
