- attributes("title") = "BackChat OAuth2 Server"

form(method="post" action="/forgot")
  fieldset
    legend Forgot password
    div.control-group
      label.control-label(for="login") Login:
      div.controls
        input#login(type="input-xlarge" type="text" name="login" placeholder="login or email" )
    div.form-actions
      button.btn.btn-primary(type="submit") Send password reset link
