-@ val errors: List[org.scalatra.command.ValidationError] = Nil
-@ val login: String = params.get("login").getOrElse("")
-@ val email: String = params.get("email").getOrElse("")
-@ val name: String = params.get("name").getOrElse("")

- render("shared/validation_errors.jade", Map("errors" -> errors))
form.form-horizontal(method="post")
  fieldset
    legend Please verify this information is correct
    - render("shared/user_fields.jade", Map("errors" -> errors, "email" -> email, "login" -> login, "name" -> name))
    div.form-actions
      button.btn.btn-primary(type="submit") Save
