
h2= attribute("title")

form.form-horizontal(method="post" action="/login")
  fieldset
    legend Login
    div.control-group
      label.control-label(for="login") Login:
      div.controls
        input#login.input-xlarge(type="text" name="login" placeholder="login or email" )
    div.control-group
      label.control-label(for="password") Password:
      div.controls
        input#password.input-xlarge(type="password" name="password" placeholder="password" )
    div.control-group
      label.control-label(for="remember") Remember:
      div.controls
        label.checkbox
          input(type="checkbox" name="remember") 
    div.form-actions
      button.btn.btn-primary(type="submit") Log in
      a.btn(href="/register") Register
      a(href="/forgot") Forgot password
      #fb-login.fb_button(style='background-position: left -200px')
        a.fb_button_medium(href='/auth/facebook')
          span#fb_login_text.fb_button_text Connect with Facebook
          
script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
