!!! 5
html
  head
    meta(charset='utf-8')
    title CoffeeScript, meet Backbone.js: Part 1
    link(rel='stylesheet' href='/css/backbone-hello-world.css')
  body
    header
      h1 CoffeeScript, meet Backbone.js: Part 1
      p
        | Looking for
        a(href='docs/script.html') the documentation
        | ?

    script(type="text/javascript" src="/wro/core.js")
    :coffeescript
      window.list_view = new PermissionListView()
