-@ val errors: List[org.scalatra.command.ValidationError] = Nil
-@ val login: String = params.get("login").getOrElse("")
-@ val email: String = params.get("email").getOrElse("")
-@ val name: String = params.get("name").getOrElse("")

- render("shared/validation_errors.jade", Map("errors" -> errors))
form.form-horizontal(method="post" action="/register")
  fieldset
    legend Register an account
    - render("shared/user_fields.jade", Map("errors" -> errors, "email" -> email, "login" -> login, "name" -> name))
    div{ :class => {if (errors.exists(_.field == "password")) "error control-group" else "control-group"} }
      label.control-label(for="password") Password:
      div.controls
        input#password.input-xlarge(type="password" name="password" placeholder="Password")
    div.control-group
      label.control-label(for="password_confirmation") Password confirmation:
      div.controls
        input#password_confirmation.input-xlarge(type="password" name="password_confirmation" placeholder="Password confirmation" )
    div.form-actions
      button.btn.btn-primary(type="submit") Register
      a.btn(href="/login") Log in
