-@ val errors: List[org.scalatra.oauth2.model.ValidationError] = Nil
-@ val token: String = params("token")

- if (errors.nonEmpty)
  div.alert.alert-error.alert-block
    a.close(data-dismiss="alert") ×
    h4.alert-heading Please correct:
    ul#errors
      - errors foreach 
        - error =>
          li.error= error.message
form.form-horizontal(method="post" action="/reset/#{token}")
  fieldset
    legend Reset your password
    div.control-group
      label.control-label(for="password") Password:
      div.controls
        input#password{ :class => {if (errors.exists(_.field == "password")) "error input-xlarge" else "input-xlarge"}, :type => "password", :name => "password", :placeholder => "Password" }
    div.control-group
      label.control-label(for="password_confirmation") Password confirmation:
      div.controls
        input#password_confirmation.input-xlarge(type="password" name="password_confirmation" placeholder="Password confirmation" )
    div.form-actions
      button.btn.btn-primary(type="submit") Reset
